<form>
    <h1>Update new book</h1>

    <mat-form-field class="form">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="book.title" [formControl]="title" required type="text" name="title" placeholder="Ex.Title" maxlength="50">
        <mat-error *ngIf="title.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Name Author</mat-label>
        <input matInput [(ngModel)]="book.name_author"  [formControl]="name_author" required type="text" name="name_author" placeholder="Ex.name author" maxlength="50">
        <mat-error *ngIf="name_author.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Text</mat-label>
        <textarea matInput [(ngModel)]="book.text" [formControl]="text" required type="text" name="text" placeholder="Ex. Text" maxlength="100000"></textarea>
        <mat-error *ngIf="text.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>
    
    <div class="buttons">
        <button (click)="update()" [disabled]="getMessage()" class="mat-elevation-z8" mat-stroked-button color="primary">Update</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn">Cancel</button>
    </div>
</form>
