<form>
    <h1>Create new Category</h1>

    <mat-form-field class="form">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="category.name" type="text" name="name" placeholder="Ex. Computing">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="category.description" type="text" name="description" placeholder="Ex. Books Computing"></textarea>
    </mat-form-field>
    <div class="buttons">
        <button (click)="create()" class="mat-elevation-z8" mat-stroked-button color="primary">Create</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn">Cancel</button>
    </div>
</form>
