<form>
    <h1>Create new book</h1>

    <mat-form-field class="form">
        <mat-label>Title</mat-label>
        <input matInput  type="text" name="title" placeholder="Ex.Title" maxlength="50">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Name Author</mat-label>
        <textarea matInput  type="text" name="name_author" placeholder="Ex.name author" maxlength="50"></textarea>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Text</mat-label>
        <textarea matInput  type="text" name="text" placeholder="Ex. Text" maxlength="100000"></textarea>
    </mat-form-field>
    <div class="buttons">
        <button  class="mat-elevation-z8" mat-stroked-button color="primary">Create</button>
        <button  class="mat-elevation-z8" mat-stroked-button color="warn">Cancel</button>
    </div>
</form>
